*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    color: #71748d;
    /* background-color: #efeff6; */
    -webkit-font-smoothing: antialiased;
}


p {
    font-weight: 400;
    color: #2d2d2e;
}

.container {
    margin: auto;
    padding: auto;
    /* margin-top: 40px; */
    background-color: #fff;
}

.card-header {
    background-color: #fed400 !important;

}

.card-body {
    /* padding-left: 80px;
    padding-right: 80px; */
    padding-bottom: 20px;
}

.titulo-card {
    color: #424242;
}

.titule-header{
   margin-top: 10px;
}
.titulo {
    /* padding-top: 20px; */
    padding-bottom: -8px;
    color: #363636;
    background-color: #fff;
}

.text-center {
    text-align: center !important;
}
.logo{
    /* padding-top: 25px; */
}

.card-footer{
    background-color: #f3f3f3;
}